// Header
header {
  .top-bar {
    background-color: $color_main1;
  }
  .middle-bar {
    &:hover {
      cursor: pointer;
    }
    i {
      color: $color_main1;
    }
    span {
      transition: color 0.7s ease-in-out;
      &:hover {
        color: $color_main1 !important;
      }
    }
  }
  nav {
    i:hover {
      color: $color_main1 !important;
    }
  }
}
